.gif_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 280px;
    border: 3px solid #53D8FB;
    border-radius: 5px;
    margin: 10px;
    padding: 1rem;
    color: gray;
    font-size: 1.5rem;
}

.gif_img {
    width: 256px;
    height: 164px;
}

.gif_title {
    font-size: 2rem;
    text-align: center;
    margin-top: 0.5rem;
}

.gif_title a {
    text-decoration: none;
    color: #5384fb;
}

.gif_title a:hover {
    cursor: pointer;
    color: gray;
    transition: 0.5s;
}

@media screen and (min-width: 768px){

    .gif_info {
        width: 350px;
        height: 370px;
        font-size: 2rem;
    }

    .gif_img {
        width: 320px;
        height: 240px;
    }

    .gif_title {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1024px){

    .gif_info {
        width: 460px;
        height: 500px;
        font-size: 2.5rem;
    }

    .gif_img {
        width: 420px;
        height: 340px;
    }

    .gif_title {
        font-size: 3rem;
    }

}